html {

}

canvas {
  position: relative;

}

body {
  background-image: url('../images/background.jpg');
  padding: 5vh 0;
  color: blue;
  font-family: $oswald;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; 

          
  /* flex-direction: column;  */
}

.canvas-container {
  position: relative;
  box-shadow: 0px 0px 5px grey;
  z-index: 0;

}

.intro {
  width: 610px;
  height: 1146px;
  position: absolute;
  left: 0;
  top: 0;

}
.my-info {
  h1 {
    margin-bottom: 2vh;
  }
  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 1vw;
    background-color: $lightblue;
    transition: .3s;
    margin-bottom: 2vh;
    &:hover {
      background-color: white;
      color: black;

    }
  }
}
.github-link {
}
.github-link:hover {
}

.instructions-wrapper {
  color: white;
  background: rgb(101,101,101);
  background: radial-gradient(circle, rgba(101,101,101,1) 0%, rgba(42,42,42,1) 100%, rgba(115,115,115,1) 100%);
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5vw;
  padding: 1vw;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  align-items: center;
  > * {
    padding: 1vw;
    box-sizing: border-box;
  }
  .title {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  button {

        border-radius: 10px;
        outline: none;
        border: none;
        box-shadow: 0px 0px 5px gray;
        padding: 1vw;
        transition: .3s;
        &:hover {
          color: $lightblue;
          background-color: lightgray;
          transform: scale(1.33); 
        }

  }

}

.instructions {
  text-align: center;
  font-size: 16px;
  font-family: $pangolin;
  display: none;
  position: absolute;
  background-color: lightgray;
  color: darkslategray;
  top:0;
  left:0;
  height:100%;
  overflow: auto;
  justify-content: space-between;
  
  p {
    margin-bottom: 2vh;
  }
}

.good-luck {
  align-self: center;
  font-size: 2em;
}
.game-summary {
  margin-bottom: 2vh;
}
.hide-instructions-button {
  cursor: pointer;
  font-size: 2em;
  // position: absolute;
  // top: 1vh;
  // right: 1vw;
  align-self: flex-end;
  color: red;
  margin-bottom: 2vh;
  &:hover {
    // background-color: darkslategray;
    color: blue;
  }
}


.instructions-boxes {
  display: flex;


  flex-direction: row;
  .left {
    margin-right: 2vw;
  }
  .left, .right {
    width: 50%;
    h1 {
      font-size: 1.5em;
      font-weight: bold;
    }

  }
}


.timer {
  position: absolute;
  padding: 3vw;
  background-color: white;
  border-radius: 10px;
  opacity: .9;
}

.lose-message {
  position: absolute;
  padding: 3vw;
  background-color: white;
  border-radius: 10px;
  opacity: .9;
}

.tower-modal-wrapper {// height, width & positioning set by js in "addTowerModal"
  // cursor: pointer;
  position: absolute;
  z-index: 10;
  display: none;
  opacity: .9;
  background-color: white;
  border-radius: 10px;
  padding: 1vw;
  box-sizing: border-box;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: .75em;
  justify-content: space-between;
  margin: 0 auto;
  .tower-type-modal {
    font-weight: bold;
  }
  .two-col {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  > * {
    padding: .2vw;
    border-radius: 5px;
  }
  .close-modal, .sell-tower, .upgrade-tower {
    cursor: pointer;
    background-color: lightblue;
    padding: .5vw;
    border-radius: 5px;
  }
  .tower-id { 
    width: 33.33%;
  }
  .tower-level {
    // width: 50%;
    text-align: left;
  }
  .close-modal {
    height: 15px;
    // width: 33.33%;
    text-align: right;
    &:hover {
      background-color: red;
    }
  }
  .enemies-defeated {
    width: 100%;
  }
  .upgrade-tower {
    display: flex;
    height: 15px;
    // width: 50%;
    border-radius: 5px;
  }
  .upgrade-tower i {
    margin-left: 1vw;
  }
  .upgrade-tower:hover {
    background-color: red;
  }
  .sell-tower {
    height: 15px;
    // width: 50%;
    text-align: right;
    &:hover {
      background-color: red;
    }
  }
}

.tower-box { // height, width & positioning set by js in "addTowerBox"
  cursor: pointer;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}




