.left-bar, .right-bar {
  height: 50vh;
  width: 13vw;
  background-color: $lightblue;
  border-radius: 25px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(49,49,96,1) 56%, rgba(32,121,139,1) 100%);
  box-shadow: 0px 0px 10px grey;
  font-size: 2vw;
  padding: 1vw;
  // height: 30%;
}



.left-bar {
  margin-right: 1vw;
}
.right-bar {
  margin-left: 1vw;
}

.upgrade-income {
  transition: .3s;
  // background-color: green;
}

.upgrade-income:hover {
  color: red;
  cursor: pointer;
}

.add-towers-wrapper {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  div {
    transition: color .3s;
    &:hover {
      color: green;
    }
  }

}


.resources-display {
  padding: 1vw;
  background-color: $lightblue;
}