.left-bar, .right-bar {
  height: 50vh;
  width: 10vw;
  background-color: $lightblue;
  border-radius: 25px;
}

.left-bar {
  margin-right: 1vw;
}
.right-bar {
  margin-left: 1vw;
}

.upgrade-income {
  height: 40%;
  width: 100%;
  background-color: green;
}

.add-tower {
  height: 10%;
  width: 100%;
  background-color: red;
}

.resources-display {
  height: 10%;
  width: 100%;
  background-color: $lightblue;
}