.left-bar, .right-bar {
  height: 50vh;
  width: 10vw;
  background-color: $lightblue;
  border-radius: 25px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}



.left-bar {
  margin-right: 1vw;
}
.right-bar {
  margin-left: 1vw;
}

.upgrade-income {

  // background-color: green;
}

.add-tower {

  background-color: red;
}

.resources-display {

  background-color: $lightblue;
}